#countlabel{
  display: block;
  text-align: center;
  font-size: 10em;
}
#btncontainer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.buttons{
  font-size: 1.5em;
  padding: 10px 20px;
 color:white;
 background-color: rgb(149, 237, 255);
 border-radius: 5px;
 cursor: pointer;
 transition: background-color 0.5s;
}
.buttons:hover{
  background-color: rgb(72, 72, 72);
}